.title {
    font-size: 50px;
    text-align: center;
}

.organigrama {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
  
.cuadro {
    text-align: center;
    border: 2px solid #333;
    padding: 10px;
    width: 150px;
}
  
.cuadro h4 {
    margin: 0;
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
}

.action {
    display: flex;
    flex: auto;
}